:host{
    float: left;
    width: calc(50% - 14px);
    display: block;
    border: 2px dotted #ad9999;
    padding: 10px 15px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-right: 5px;
}
.content-image{
    width: 100%;
}
.tags{
    display: flex;
    align-items: center;
    a{
       color:#000000;
       padding: 5px;
       text-decoration: none;
    }
}
:host.is-last{
    border: 2px solid black;
}
:host.isFound-true{
    background: rgba($color: #d20000, $alpha: .2);
}