  <mat-card class="content-card">
    <div class="content-{{ content.id }}">
      <h1 class="title">{{ content.title }}</h1>
      <div class="image-wrapper" *ngIf="content.imgUrl">
      <img (click)="imgClick(content.id)" class="content-image" src="{{ content.imgUrl }}">
      </div>
      <h2 class="author">Author: {{ content.author }}</h2>
    </div> 
    <button mat-raised-button color="warn" [routerLink]="['/content', content.id]" routerLinkActive="active">Details <mat-icon>keyboard_arrow_right</mat-icon></button>
  </mat-card>
