*{
    box-sizing: border-box;
  }
  
  .form-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    h1{
      width: 100%;
    }
    input, button{
      width: calc(100% / 3.1);
      height: 36px;
      margin-bottom: 10px;
      border: 1px solid #000000;
      padding: 0px 10px;
    }
    button{
      height: 36px;
    }
    p{
      width: 100%;
      color: red;
    }
  }