*{
    box-sizing: border-box;
  }
  
  .form-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
    h1{
      width: 100%;
    }
    input, button{
      width: 100%;
      margin-bottom: 10px;
    }
    button{
      width: 100%;
    }
    .cancel{
      width: 45px;
      position: absolute;
      right: -15px;
      top: -20px;
      padding: 0px;
    }
    p{
      width: 100%;
      color: red;
    }
  }
  .mat-form-field{
    padding: 0 !important;
    width: 45%;
  }